extends ./layout.jade
block contenido
    div(class="col-md-8 center-block remove-float text-center big-top-space")
        h1 Binvenido
        a(href="/login", title="login", class="right-space") Login
        a(href="/signup", title="signup") Registro