extends ./layout.jade
block contenido
    form(action="/users", method="POST")
        div(class="container")
            div(class="form-group")
                label(for="email") Email
                input(type="text", class="form-control" name="email", id="email", placeholder="Email")
            div
                label(for="password") Password
                input(type="password", class="form-control" name="password", id="password", placeholder="Password")
            input(type="submit", class="btn btn-info" value="Enviar")