extends ./layout.jade
block contenido
    div(class="col-md-6 center-block remove-float big-top-space")
        form(action="/sessions", method="POST")
            div(class="form-group")
                label(for="email") Email
                input(type="email", class="form-control" name="email", id="email", placeholder="Email")
            div
                label(for="password") Password
                input(type="password", class="form-control" name="password", id="password", placeholder="Password")
            div(class="row top-space")
                div(class="col-xs-12 col-sm-6")
                    input(type="submit", class="btn btn-info" value="Enviar")
                div(class="col-xs-12 col-sm-6 text-right")
                    a(href="/signup", title="title") No tengo cuenta